html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Contenedori {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 20px;
    justify-content: flex-start;
}

.Titulo {
    text-align: left;
    margin-bottom: 100px;
    font-size: 2em;
    line-height: 1.1;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Botonera {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Botonera .Boton {
    background-color: transparent; /* Fondo transparente por defecto */
    border: 2px solid rgba(255, 255, 255, 0.8); /* Borde blanco semitransparente */
    padding: 10px 20px;
    font-size: 1em;
    color: #fff; /* Color del texto blanco para mejor contraste */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
    text-align: center; /* Alinea el texto al centro del botón */
    border-radius: 4px; /* Bordes redondeados en el botón */
    box-shadow: none; /* Asegura que no haya sombra que afecte la apariencia */
}

.Botonera .Boton:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semiopaco al pasar el ratón */
    border-color: rgba(255, 255, 255, 1); /* Borde blanco opaco al pasar el ratón */
}