.Crear {
    display: grid;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 0.4fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpo";
}

.menus {
    grid-area: menus;
}

.cuerpo {
    grid-area: cuerpo;
    background-image: url('/images/image.png');
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    align-items: center;
    text-align: center;
}

.title {
    font-size: 27px;
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.solicitud-form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: beige solid 1px;
    align-items: center;
    text-align: center;
    width: 70%;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.form-group label {
    margin-bottom: 5px;
    margin-left: 30px;
    padding-right: 30px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 30px;
}

.file-input-button {
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin-right: 10px;
}

.submit-btn {
    background-color: #FF851B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #FF7200;
}


